include includes/header

<body class="about">
.wrap
	include includes/toolbar

	main.page
		.container
			.page__frame
				h1.page__title О компании
				h2.page__sub-title.xl-margin-bottom Аргус СварСервис – компания экспертов  в области сварочно-монтажных работы при строительстве и ремонте трубопроводов мирового уровня.
				p.xl-margin-bottom Более 30 лет предприятие занимается поставкой оборудования и материалов для различных видов сварки, антикоррозионной защиты трубопроводов, контроля качества, испытаний, диагностики и ремонта труб, а также для таких видов работы с трубами, как укладка, такелажные работы, резка и обработка кромок, плазменная резка, индукционный подогрев, выравнивание стыков и гнутьё.
				h2.page__sub-title.xl-margin-bottom Компания является дистрибьютором техники таких всемирно известных марок, как:
				.partners
					.row
						.col-xs-3
							a.partners__item(href="#")
								.partners__image
									img(src="./layout/images/lg-1.jpg")
								.partners__text
									| сварочное оборудование и материалы
						.col-xs-3
							a.partners__item(href="#")
								.partners__image
									img(src="./layout/images/lg-2.jpg")
								.partners__text
									| автоматические сварочные комплексы
						.col-xs-3
							a.partners__item(href="#")
								.partners__image
									img(src="./layout/images/lg-3.jpg")
								.partners__text
									| строительная и землеройная техника
						.col-xs-3
							a.partners__item(href="#")
								.partners__image
									img(src="./layout/images/lg-4.jpg")
								.partners__text
									| сварочные тракторы и трубоукладчики
						.col-xs-4
							a.partners__item(href="#")
								.partners__image
									img(src="./layout/images/lg-5.jpg")
								.partners__text
									| изоляционные материалы
						.col-xs-4
							a.partners__item(href="#")
								.partners__image
									img(src="./layout/images/lg-6.jpg")
								.partners__text
									| установки горизонтально-наклонного бурения
						.col-xs-4
							a.partners__item(href="#")
								.partners__image
									img(src="./layout/images/lg-7.jpg")
								.partners__text
									| портативные установки для резки и обработки торцов труб

				h2.page__sub-title Компания «Аргус» нацелена на долгосрочное стратегическое партнёрство, поэтому главные принципы её работы – поддержка заказчика на всех этапах проекта и совместный поиск оптимальных решений.
include includes/footer