.sidebar
	width 100%
	z-index 10
	position relative
	@media (min-width: scr_sm)
		padding 85px 0 0
	.logo
		full-width()
		margin-bottom 20px
		@media (min-width: scr_md)
			display none
		svg
			max-width 288px